html {
	box-sizing: border-box;
	font-family: 'Gentium Book Plus', serif, sans-serif;
	font-size: 16px;
	background-color: #1fd6a9;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	padding: 2rem 1.5rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	color: #141414;
	text-align: justify;
}

h1 {
	margin: 2.5rem;
	font-size: 2rem;
	text-align: center;
	color: #373688;
}

/*$ ********** Scrollbar ********** */

::-webkit-scrollbar {
	width: 0px;
}
::-webkit-scrollbar-track {
	background: #fff;
}
::-webkit-scrollbar-thumb {
	background: #fff;
}
